# Pregunta1

In [36]:
%%writefile mapper_0.py
#! /usr/bin/ python3

#
# Esta es la funcion que mapea la entrada a parejas (clave, valor)
#
import sys
if __name__ == "__main__":

    #
    # itera sobre cada linea de codigo recibida
    # a traves del flujo de entrada
    #
    for line in sys.stdin:

        #
        # genera las tuplas palabra \tabulador 1
        # ya que es un conteo de palabras
        #
        print (line)
        print (type(line))
        a = line.split(',')
        print (a[2])
        
        for word in line.split(','):

            #
            # escribe al flujo estandar de salida
            #
            #sys.stdout.write("{}\t1\n".format(word))
            print (type(word)) 
            sys.stdout.write(word)

Writing mapper_0.py

In [41]:
%%writefile mapper.py
import sys
if __name__ == "__main__":
    for line in sys.stdin:
        #print (line)
        #print (type(line))
        word = line.split(',')
        #print (word[2])
        sys.stdout.write("{}\t1\n".format(word[2]))

Overwriting mapper.py

In [43]:
!head  ../pregunta_01/credit.csv | python mapper.py

credit_history	1
critical	1
repaid	1
critical	1
repaid	1
delayed	1
repaid	1
repaid	1
repaid	1
repaid	1

In [44]:
%%writefile reducer.py
#! /usr/bin python3

import sys

#
# Esta funcion reduce los elementos que tienen la misma clave
#
if __name__ == '__main__':

    curkey = None
    total = 0

    #
    # cada linea de texto recibida es una entrada clave \tabulador valor
    #
    for line in sys.stdin:

        key, val = line.split("\t")
        val = int(val)

        if key == curkey:
            #
            # No se ha cambiado de clave. Aca se acumulan los valores para la misma
            # clave.
            #
            total += val
        else:
            #
            # Se cambio de clave. Se reinicia el acumulador.
            #
            if curkey is not None:
                #
                # una vez se han reducido todos los elementos
                # con la misma clave se imprime el resultado en
                # el flujo de salida
                #
                sys.stdout.write("{}\t{}\n".format(curkey, total))

            curkey = key
            total = val

    sys.stdout.write("{}\t{}\n".format(curkey, total))

Writing reducer.py

In [45]:
cat ../pregunta_01/credit.csv | python mapper.py | sort | python reducer.py

credit_history	1
critical	293
delayed	88
fully repaid	40
fully repaid this bank	49
repaid	530

In [68]:
import pandas as pd
df = pd.read_csv("../pregunta_01/credit.csv", sep=",")
df["credit_history"]
df[["amount", "purpose"]]
df

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,unknown,12,repaid,furniture,1736,< 100 DM,4 - 7 yrs,3,female,none,...,real estate,31,none,own,1,1,1,none,yes,unskilled resident
996,< 0 DM,30,repaid,car (used),3857,< 100 DM,1 - 4 yrs,4,divorced male,none,...,building society savings,40,none,own,1,1,1,yes,yes,mangement self-employed
997,unknown,12,repaid,radio/tv,804,< 100 DM,> 7 yrs,4,single male,none,...,other,38,none,own,1,1,1,none,yes,skilled employee
998,< 0 DM,45,repaid,radio/tv,1845,< 100 DM,1 - 4 yrs,4,single male,none,...,unknown/none,23,none,for free,1,2,1,yes,yes,skilled employee
999,1 - 200 DM,45,critical,car (used),4576,101 - 500 DM,unemployed,3,single male,none,...,other,27,none,own,1,1,1,none,yes,skilled employee

# Pregunta 2

In [69]:
%%writefile mapper_02.py
import sys
if __name__ == "__main__":
    for line in sys.stdin:
        #print (line)
        #print (type(line))
        word = line.split(',')
        #print (word[2])
        sys.stdout.write("{}\t{}\n".format(word[3],word[4]))

Writing mapper_02.py

In [71]:
!head  ../pregunta_02/credit.csv | python mapper_02.py

radio/tv	1169
radio/tv	5951
education	2096
furniture	7882
car (new)	4870
education	9055
furniture	2835
car (used)	6948
radio/tv	3059
car (new)	5234

In [67]:
import pandas as pd
df2 = pd.read_csv("../pregunta_02/credit.csv", header=None,sep=",")
#df2[["3", "2"]]
df2[[3, 4]]

              3     4
0      radio/tv  1169
1      radio/tv  5951
2     education  2096
3     furniture  7882
4     car (new)  4870
..          ...   ...
995   furniture  1736
996  car (used)  3857
997    radio/tv   804
998    radio/tv  1845
999  car (used)  4576

[1000 rows x 2 columns]

In [91]:
%%writefile reducer_02.py
#! /usr/bin python3

import sys

#
# Esta funcion reduce los elementos que tienen la misma clave
#
if __name__ == '__main__':

    curkey = None
    
    #
    # cada linea de texto recibida es una entrada clave \tabulador valor
    #
    ant = 0
    for line in sys.stdin:

        key, val = line.split("\t")
        val = int(val)
        
        if key == curkey:
            #
            # No se ha cambiado de clave. Aca se acumulan los valores para la misma
            # clave.
            #
            if val >= ant:
                ant = val
        else:
            #
            # Se cambio de clave. Se reinicia el acumulador.
            #
            if curkey is not None:
                #
                # una vez se han reducido todos los elementos
                # con la misma clave se imprime el resultado en
                # el flujo de salida
                #
                sys.stdout.write("{}\t{}\n".format(curkey, ant))

            curkey = key
            ant = val

    sys.stdout.write("{}\t{}\n".format(curkey, ant))

Overwriting reducer_02.py

In [92]:
!cat ../pregunta_02/credit.csv | python3 mapper_02.py | sort | python3 reducer_02.py

business	15945
car (new)	14896
car (used)	12976
domestic appliances	3990
education	12612
furniture	14179
others	18424
radio/tv	15653
repairs	11998
retraining	3447

# Pregunta 03

In [1]:
!cat ../pregunta_03/data.csv

b,6
a,3
d,1
c,2
e,4
f,5

In [27]:
%%writefile mapper_03.py
import sys
if __name__ == "__main__":
    for line in sys.stdin:
        #print (line)
        #print ("---")
        word = line.split(',')
        #print (word[0])
        #print (word[1].strip())
        #print (word[0])
        sys.stdout.write("{},{}\n".format(word[1].strip(),word[0]))

Overwriting mapper_03.py

In [29]:
!cat ../pregunta_03/data.csv | python3 mapper_03.py|sort

1,d
2,c
3,a
4,e
5,f
6,b

In [42]:
%%writefile reducer_03.py
import sys
if __name__ == "__main__":
    for line in sys.stdin:
        #print (line)
        #print ("---")
        word = line.split(',')
        #print (word[0])
        #print (word[1].strip())
        #print (word[0])
        sys.stdout.write("{},{}\n".format(word[1].strip(),word[0]))

Overwriting reducer_03.py

In [43]:
!cat ../pregunta_03/data.csv | python3 mapper_03.py|sort |python3 reducer_03.py

d,1
c,2
a,3
e,4
f,5
b,6

# Pregunta 04

In [45]:
!cat ../pregunta_04/data.csv

B   1999-08-28   14
E   1999-12-06   12
E   1993-07-21   17
C   1991-02-12   13
E   1995-04-25   16
A   1992-08-22   14
B   1999-06-11   12
E   1993-01-27   13
E   1999-09-10   11
E   1990-05-03   16
E   1994-02-14   10
A   1988-04-27   12
A   1990-10-06   10
E   1985-02-12   16
E   1998-09-14   16
B   1994-08-30   17
A   1997-12-15   13
B   1995-08-23   10
B   1998-11-22   13
B   1997-04-09   14
E   1993-12-27   18
E   1999-01-14   15
A   1992-09-19   18
B   1993-03-02   14
B   1999-10-21   13
A   1990-08-31   12
C   1994-01-25   10
E   1990-02-09   18
A   1990-09-26   14
A   1993-05-08   16
B   1995-09-06   14
E   1991-02-18   14
A   1993-01-11   14
A   1990-07-22   18
C   1994-09-09   15
C   1994-07-27   10
D   1990-10-10   15
A   1990-09-05   11
B   1991-10-01   15
A   1994-10-25   13

In [68]:
%%writefile mapper_04.py
import sys
if __name__ == "__main__":
    for line in sys.stdin:
        #print (line)
        #print ("---")
        word = line.split(' ')
        print (word[0])
        print (word[3])
        print (word[6].strip())
        #sys.stdout.write("{},{}\n".format(word[1].strip(),word[0]))

Overwriting mapper_04.py

In [69]:
!cat ../pregunta_04/data.csv | python3 mapper_04.py

B
1999-08-28
14
E
1999-12-06
12
E
1993-07-21
17
C
1991-02-12
13
E
1995-04-25
16
A
1992-08-22
14
B
1999-06-11
12
E
1993-01-27
13
E
1999-09-10
11
E
1990-05-03
16
E
1994-02-14
10
A
1988-04-27
12
A
1990-10-06
10
E
1985-02-12
16
E
1998-09-14
16
B
1994-08-30
17
A
1997-12-15
13
B
1995-08-23
10
B
1998-11-22
13
B
1997-04-09
14
E
1993-12-27
18
E
1999-01-14
15
A
1992-09-19
18
B
1993-03-02
14
B
1999-10-21
13
A
1990-08-31
12
C
1994-01-25
10
E
1990-02-09
18
A
1990-09-26
14
A
1993-05-08
16
B
1995-09-06
14
E
1991-02-18
14
A
1993-01-11
14
A
1990-07-22
18
C
1994-09-09
15
C
1994-07-27
10
D
1990-10-10
15
A
1990-09-05
11
B
1991-10-01
15
A
1994-10-25
13

In [73]:
from datetime import datetime
sdate = '1993-07-21'
date = datetime.fromisoformat(sdate)

In [75]:
date

datetime.datetime(1993, 7, 21, 0, 0)

In [80]:
def time_to_int(dateobj):
    total = int(dateobj.strftime('%S'))
    total += int(dateobj.strftime('%M')) * 60
    total += int(dateobj.strftime('%H')) * 60 * 60
    total += (int(dateobj.strftime('%j')) - 1) * 60 * 60 * 24
    total += (int(dateobj.strftime('%Y')) - 1970) * 60 * 60 * 24 * 365
    return total

In [95]:
date.strftime("%Y%m%d%H%M%S")

'19930721000000'

In [92]:
%%writefile mapper_04.py
import sys
from datetime import datetime

def time_to_int(dateobj):
    total = int(dateobj.strftime('%S'))
    total += int(dateobj.strftime('%M')) * 60
    total += int(dateobj.strftime('%H')) * 60 * 60
    total += (int(dateobj.strftime('%j')) - 1) * 60 * 60 * 24
    total += (int(dateobj.strftime('%Y')) - 1970) * 60 * 60 * 24 * 365
    return total

if __name__ == "__main__":
    for line in sys.stdin:
        #print (line)
        #print ("---")
        word = line.split(' ')
        #print (word[0])
        #print (word[3])
        date = datetime.fromisoformat(word[3])
        #print (word[6].strip())
        sys.stdout.write("{},{},{}\n".format(str(time_to_int(date)),word[0],word[6].strip()))

Overwriting mapper_04.py

In [100]:
%%writefile mapper_04.py
import sys
#from datetime import datetime

if __name__ == "__main__":
    for line in sys.stdin:
        #print (line)
        #print ("---")
        word = line.split(' ')
        #print (word[0])
        #print (word[3])
        #date = datetime.fromisoformat(word[3])
        #print (word[6].strip())
        sys.stdout.write("{},1\n".format(word[0]))

Overwriting mapper_04.py

In [101]:
!cat ../pregunta_04/data.csv | python3 mapper_04.py|sort

A,1
A,1
A,1
A,1
A,1
A,1
A,1
A,1
A,1
A,1
A,1
A,1
B,1
B,1
B,1
B,1
B,1
B,1
B,1
B,1
B,1
B,1
C,1
C,1
C,1
C,1
D,1
E,1
E,1
E,1
E,1
E,1
E,1
E,1
E,1
E,1
E,1
E,1
E,1
E,1

In [104]:
%%writefile reducer_04.py

#! /usr/bin python3

import sys

#
# Esta funcion reduce los elementos que tienen la misma clave
#
if __name__ == '__main__':

    curkey = None
    total = 0

    #
    # cada linea de texto recibida es una entrada clave \tabulador valor
    #
    for line in sys.stdin:

        key, val = line.split(",")
        val = int(val)

        if key == curkey:
            #
            # No se ha cambiado de clave. Aca se acumulan los valores para la misma
            # clave.
            #
            total += val
        else:
            #
            # Se cambio de clave. Se reinicia el acumulador.
            #
            if curkey is not None:
                #
                # una vez se han reducido todos los elementos
                # con la misma clave se imprime el resultado en
                # el flujo de salida
                #
                sys.stdout.write("{},{}\n".format(curkey, total))

            curkey = key
            total = val

    sys.stdout.write("{},{}\n".format(curkey, total))

Overwriting reducer_04.py

In [105]:
!cat ../pregunta_04/data.csv | python3 mapper_04.py|sort|python3 reducer_04.py

A,12
B,10
C,4
D,1
E,13

# pregunta 05

In [106]:
!cat ../pregunta_05/data.csv

B   1999-08-28   14
E   1999-12-06   12
E   1993-07-21   17
C   1991-02-12   13
E   1995-04-25   16
A   1992-08-22   14
B   1999-06-11   12
E   1993-01-27   13
E   1999-09-10   11
E   1990-05-03   16
E   1994-02-14   10
A   1988-04-27   12
A   1990-10-06   10
E   1985-02-12   16
E   1998-09-14   16
B   1994-08-30   17
A   1997-12-15   13
B   1995-08-23   10
B   1998-11-22   13
B   1997-04-09   14
E   1993-12-27   18
E   1999-01-14   15
A   1992-09-19   18
B   1993-03-02   14
B   1999-10-21   13
A   1990-08-31   12
C   1994-01-25   10
E   1990-02-09   18
A   1990-09-26   14
A   1993-05-08   16
B   1995-09-06   14
E   1991-02-18   14
A   1993-01-11   14
A   1990-07-22   18
C   1994-09-09   15
C   1994-07-27   10
D   1990-10-10   15
A   1990-09-05   11
B   1991-10-01   15
A   1994-10-25   13

In [128]:
%%writefile mapper_05.py
import sys
#from datetime import datetime

if __name__ == "__main__":
    for line in sys.stdin:
        #print (line)
        #print ("---")
        word = line.split(' ')
        #print (word[0])
        #print (word[3])
        #date = datetime.fromisoformat(word[3])
        #print (word[6].strip())
        sys.stdout.write("{},1\n".format(word[3].split('-')[1]))

Overwriting mapper_05.py

In [129]:
!cat ../pregunta_05/data.csv | python3 mapper_05.py|sort

01,1
01,1
01,1
01,1
02,1
02,1
02,1
02,1
02,1
03,1
04,1
04,1
04,1
05,1
05,1
06,1
07,1
07,1
07,1
08,1
08,1
08,1
08,1
08,1
09,1
09,1
09,1
09,1
09,1
09,1
09,1
10,1
10,1
10,1
10,1
10,1
11,1
12,1
12,1
12,1

In [117]:
from datetime import datetime
sdate = '1993-07-21'
date = datetime.fromisoformat(sdate)

In [118]:
date

datetime.datetime(1993, 7, 21, 0, 0)

In [124]:
sdate.split('-')[1]

'07'

In [131]:
%%writefile reducer_05.py

#! /usr/bin python3

import sys

#
# Esta funcion reduce los elementos que tienen la misma clave
#
if __name__ == '__main__':

    curkey = None
    total = 0

    #
    # cada linea de texto recibida es una entrada clave \tabulador valor
    #
    for line in sys.stdin:

        key, val = line.split(",")
        val = int(val)

        if key == curkey:
            #
            # No se ha cambiado de clave. Aca se acumulan los valores para la misma
            # clave.
            #
            total += val
        else:
            #
            # Se cambio de clave. Se reinicia el acumulador.
            #
            if curkey is not None:
                #
                # una vez se han reducido todos los elementos
                # con la misma clave se imprime el resultado en
                # el flujo de salida
                #
                sys.stdout.write("{}\t{}\n".format(curkey, total))

            curkey = key
            total = val

    sys.stdout.write("{}\t{}\n".format(curkey, total))

Overwriting reducer_05.py

In [132]:
!cat ../pregunta_05/data.csv | python3 mapper_05.py|sort|python reducer_05.py

01	4
02	5
03	1
04	3
05	2
06	1
07	3
08	5
09	7
10	5
11	1
12	3

# Pregunta 06

In [1]:
!cat ../pregunta_06/data.csv

B   1999-08-28   14.1
E   1999-12-06   12.2
E   1993-07-21   17.0
C   1991-02-12   13.8
E   1995-04-25   16.9
A   1992-08-22   14.8
B   1999-06-11   12.1
E   1993-01-27   13.2
E   1999-09-10   11.3
E   1990-05-03   16.4
E   1994-02-14   10.5
A   1988-04-27   12.6
A   1990-10-06   10.7
E   1985-02-12   16.8
E   1998-09-14   16.9
B   1994-08-30   17.0
A   1997-12-15   13.6
B   1995-08-23   10.7
B   1998-11-22   13.8
B   1997-04-09   14.9
E   1993-12-27   18.4
E   1999-01-14   15.3
A   1992-09-19   18.2
B   1993-03-02   14.4
B   1999-10-21   13.5
A   1990-08-31   12.6
C   1994-01-25   10.7
E   1990-02-09   18.8
A   1990-09-26   14.9
A   1993-05-08   16.8
B   1995-09-06   14.7
E   1991-02-18   14.6
A   1993-01-11   14.5
A   1990-07-22   18.4
C   1994-09-09   15.3
C   1994-07-27   10.2
D   1990-10-10   15.1
A   1990-09-05   11.0
B   1991-10-01   15.0
A   1994-10-25   13.1

In [35]:
%%writefile mapper_06.py
import sys
#from datetime import datetime
print(sys.stdin.readlines()[0].split('   ')[1].strip())
if __name__ == "__main__":
    print(sys.stdin)

Overwriting mapper_06.py

In [80]:
%%writefile mapper_06.py
import sys
#from datetime import datetime
#print(sys.stdin.readlines()[0].split('   ')[2].strip())
if __name__ == "__main__":
    for line in sys.stdin:
        sys.stdout.write("{}\t{}\n".format(str(line.split('   ')[0]), float(line.split('   ')[2])))

Overwriting mapper_06.py

In [81]:
!cat ../pregunta_06/data.csv|python mapper_06.py

B	14.1
E	12.2
E	17.0
C	13.8
E	16.9
A	14.8
B	12.1
E	13.2
E	11.3
E	16.4
E	10.5
A	12.6
A	10.7
E	16.8
E	16.9
B	17.0
A	13.6
B	10.7
B	13.8
B	14.9
E	18.4
E	15.3
A	18.2
B	14.4
B	13.5
A	12.6
C	10.7
E	18.8
A	14.9
A	16.8
B	14.7
E	14.6
A	14.5
A	18.4
C	15.3
C	10.2
D	15.1
A	11.0
B	15.0
A	13.1

In [82]:
%%writefile reducer_06.py

#! /usr/bin python3
import sys

if __name__ == '__main__':

    curkey = None
    max = 0
    for line in sys.stdin:

        key, val = line.split("\t")
        val = float(val)

        if key == curkey:
            if val > max:
                max = val
            if val < min:
                min = val
        else:
            if curkey is not None:
                sys.stdout.write("{}\t{}\t{}\n".format(curkey, max, min))
            curkey = key
            max = val
            min = val

    sys.stdout.write("{}\t{}\t{}\n".format(curkey, max, min))

Overwriting reducer_06.py

In [83]:
!cat ../pregunta_06/data.csv|python mapper_06.py|sort|python reducer_06.py

A	18.4	10.7
B	17.0	10.7
C	15.3	10.2
D	15.1	15.1
E	18.8	10.5

# pregunta 07

In [74]:
!cat ../pregunta_07/README.txt

Pregunta
===========================================================================

Escriba un job de hadoop (en Python) que ordene el archivo `data.csv` por
letra y valor (3ra columna).

In [76]:
!cat ../pregunta_07/data.csv

E   1990-05-03   16
A   1992-09-19   9
A   1990-10-06   10
E   1994-02-14   10
E   1999-09-10   11
A   1992-08-22   16
A   1993-05-08   17
A   1988-04-27   121
B   1995-08-23   1
B   1991-10-01   9
B   1999-10-21   13
B   1997-04-09   14
B   1995-09-06   15
A   1990-08-31   12
A   1997-12-15   13
A   1994-10-25   14
B   1993-03-02   16
B   1999-08-28   17
E   1998-09-14   2
E   1995-04-25   3
E   1993-07-21   4
E   1985-02-12   17
E   1990-02-09   18
E   1993-12-27   19
E   1991-02-18   141
A   1990-07-22   0
A   1990-09-26   8
B   1999-06-11   121
B   1998-11-22   131
C   1994-01-25   10
C   1991-02-12   13
B   1994-08-30   18
C   1994-09-09   15
C   1994-07-27   104
D   1990-10-10   15
A   1990-09-05   11
A   1993-01-11   15
E   1993-01-27   9
E   1999-12-06   12
E   1999-01-14   15

In [78]:
!cat ../pregunta_07/test.py

#
import os

result = os.popen("cat data.csv | python3 mapper.py | sort | python3 reducer.py").read()

lines = [line.strip().replace("\n", "") for line in result.split("\n")]

expected = """A   1990-07-22   0
A   1990-09-26   8
A   1992-09-19   9
A   1990-10-06   10
A   1990-09-05   11
A   1990-08-31   12
A   1997-12-15   13
A   1994-10-25   14
A   1993-01-11   15
A   1992-08-22   16
A   1993-05-08   17
A   1988-04-27   121
B   1995-08-23   1
B   1991-10-01   9
B   1999-10-21   13
B   1997-04-09   14
B   1995-09-06   15
B   1993-03-02   16
B   1999-08-28   17
B   1994-08-30   18
B   1999-06-11   121
B   1998-11-22   131
C   1994-01-25   10
C   1991-02-12   13
C   1994-09-09   15
C   1994-07-27   104
D   1990-10-10   15
E   1998-09-14   2
E   1995-04-25   3
E   1993-07-21   4
E   1993-01-27   9
E   1994-02-14   10
E   1999-09-10   11
E   1999-12-06   12
E   1999-01-14   15
E   1990-05-03   16
E   1985-02-12   17
E   1990-02-09   18
E   1993-12-27   19
E   1991-02-18   141
""".split(
    "\n"
)

if len(lines) != len(expected):
    raise Exception("Wrong number of lines")

for solution, expected in zip(lines, expected):
    assert (
        solution.strip() == expected.strip()
    ), f"Expected: {expected}\nGot: {solution}"

In [127]:
%%writefile mapper_07.py
import sys
#from datetime import datetime
#print(sys.stdin.readlines()[0].split('   ')[2].strip())
maxi = 3
if __name__ == "__main__":
    for line in sys.stdin:
        strnum = line.split('   ')[2].strip()
        strnum = strnum.zfill(maxi)
        sys.stdout.write("{}   {}   {}\n".format(str(line.split('   ')[0]), strnum , line.split('   ')[1]))

Overwriting mapper_07.py

In [128]:
!cat ../pregunta_07/data.csv|python mapper_07.py|sort

A   000   1990-07-22
A   008   1990-09-26
A   009   1992-09-19
A   010   1990-10-06
A   011   1990-09-05
A   012   1990-08-31
A   013   1997-12-15
A   014   1994-10-25
A   015   1993-01-11
A   016   1992-08-22
A   017   1993-05-08
A   121   1988-04-27
B   001   1995-08-23
B   009   1991-10-01
B   013   1999-10-21
B   014   1997-04-09
B   015   1995-09-06
B   016   1993-03-02
B   017   1999-08-28
B   018   1994-08-30
B   121   1999-06-11
B   131   1998-11-22
C   010   1994-01-25
C   013   1991-02-12
C   015   1994-09-09
C   104   1994-07-27
D   015   1990-10-10
E   002   1998-09-14
E   003   1995-04-25
E   004   1993-07-21
E   009   1993-01-27
E   010   1994-02-14
E   011   1999-09-10
E   012   1999-12-06
E   015   1999-01-14
E   016   1990-05-03
E   017   1985-02-12
E   018   1990-02-09
E   019   1993-12-27
E   141   1991-02-18

In [108]:
maxi = 3
a = '19'
a.zfill(maxi)

'019'

In [129]:
%%writefile reducer_07.py
import sys

if __name__ == "__main__":
    for line in sys.stdin:

        sys.stdout.write("{}   {}   {}\n".format(str(line.split('   ')[0]), line.split('   ')[2].strip() , int(line.split('   ')[1])))

Overwriting reducer_07.py

In [131]:
!cat ../pregunta_07/data.csv|python mapper_07.py|sort|python reducer_07.py

A   1990-07-22   0
A   1990-09-26   8
A   1992-09-19   9
A   1990-10-06   10
A   1990-09-05   11
A   1990-08-31   12
A   1997-12-15   13
A   1994-10-25   14
A   1993-01-11   15
A   1992-08-22   16
A   1993-05-08   17
A   1988-04-27   121
B   1995-08-23   1
B   1991-10-01   9
B   1999-10-21   13
B   1997-04-09   14
B   1995-09-06   15
B   1993-03-02   16
B   1999-08-28   17
B   1994-08-30   18
B   1999-06-11   121
B   1998-11-22   131
C   1994-01-25   10
C   1991-02-12   13
C   1994-09-09   15
C   1994-07-27   104
D   1990-10-10   15
E   1998-09-14   2
E   1995-04-25   3
E   1993-07-21   4
E   1993-01-27   9
E   1994-02-14   10
E   1999-09-10   11
E   1999-12-06   12
E   1999-01-14   15
E   1990-05-03   16
E   1985-02-12   17
E   1990-02-09   18
E   1993-12-27   19
E   1991-02-18   141

# Pregunta 08

In [135]:
!cat ../pregunta_08/README.txt

Pregunta
===========================================================================

Escriba un job de hadoop (en Python) que compute la suma y el promedio de
la tercera columna por letra del  archivo `data.csv`.

In [139]:
!cat ../pregunta_08/data.csv

B   1999-08-28   14
E   1999-12-06   12
E   1993-07-21   17
C   1991-02-12   13
E   1995-04-25   16
A   1992-08-22   14
B   1999-06-11   12
E   1993-01-27   13
E   1999-09-10   11
E   1990-05-03   16
E   1994-02-14   10
A   1988-04-27   12
A   1990-10-06   10
E   1985-02-12   16
E   1998-09-14   16
B   1994-08-30   17
A   1997-12-15   13
B   1995-08-23   10
B   1998-11-22   13
B   1997-04-09   14
E   1993-12-27   18
E   1999-01-14   15
A   1992-09-19   18
B   1993-03-02   14
B   1999-10-21   13
A   1990-08-31   12
C   1994-01-25   10
E   1990-02-09   18
A   1990-09-26   14
A   1993-05-08   16
B   1995-09-06   14
E   1991-02-18   14
A   1993-01-11   14
A   1990-07-22   18
C   1994-09-09   15
C   1994-07-27   10
D   1990-10-10   15
A   1990-09-05   11
B   1991-10-01   15
A   1994-10-25   13

In [144]:
%%writefile mapper_08.py
import sys
#from datetime import datetime
#print(sys.stdin.readlines()[0].split('   ')[2].strip())
maxi = 3
if __name__ == "__main__":
    for line in sys.stdin:
        sys.stdout.write("{}   {}   1\n".format(str(line.split('   ')[0]), line.split('   ')[2].strip()))

Overwriting mapper_08.py

In [146]:
!cat ../pregunta_08/data.csv|python mapper_08.py|sort

A   10   1
A   11   1
A   12   1
A   12   1
A   13   1
A   13   1
A   14   1
A   14   1
A   14   1
A   16   1
A   18   1
A   18   1
B   10   1
B   12   1
B   13   1
B   13   1
B   14   1
B   14   1
B   14   1
B   14   1
B   15   1
B   17   1
C   10   1
C   10   1
C   13   1
C   15   1
D   15   1
E   10   1
E   11   1
E   12   1
E   13   1
E   14   1
E   15   1
E   16   1
E   16   1
E   16   1
E   16   1
E   17   1
E   18   1
E   18   1

In [183]:
%%writefile reducer_08.py

#! /usr/bin python3
import sys

if __name__ == '__main__':

    curkey = None
    totalv = 0
    totalc = 0
    for line in sys.stdin:

        key, val, count = line.split("   ")
        val = float(val)
        count = float(count)
        #print (key)

        if key == curkey:
            totalv += val
            totalc += count

        else:
            if curkey is not None:
                a =totalv/totalc
                #print(a)
                #print(totalc)
                sys.stdout.write("{}\t{}\t{}\n".format(curkey, totalv, a))
            curkey = key
            totalv = val
            totalc = count
            #a =totalv/totalc
            #print(a)
            #print(totalc)
            #print('none')
    
    a =totalv/totalc
    sys.stdout.write("{}\t{}\t{}\n".format(curkey, totalv, a))

Overwriting reducer_08.py

In [184]:
!cat ../pregunta_08/data.csv|python mapper_08.py|sort|python reducer_08.py

A	165.0	13.75
B	136.0	13.6
C	48.0	12.0
D	15.0	15.0
E	192.0	14.76923076923077

# pregunta 09

In [186]:
!cat ../pregunta_09/README.txt

Pregunta
===========================================================================

Escriba un job de hadoop (en Python) que obtenga los 5 registros con
valores más pequeños en la tercera columna del  archivo `data.csv`.

In [190]:
!cat ../pregunta_09/data.csv

B   1999-08-28   14
E   1999-12-06   121
E   1993-07-21   17
C   1991-02-12   2
E   1995-04-25   161
A   1992-08-22   14
B   1999-06-11   12
E   1993-01-27   8
E   1999-09-10   11
E   1990-05-03   16
E   1994-02-14   101
A   1988-04-27   9
A   1990-10-06   10
E   1985-02-12   16
E   1998-09-14   7
B   1994-08-30   17
A   1997-12-15   13
B   1995-08-23   101
B   1998-11-22   13
B   1997-04-09   6
E   1993-12-27   181
E   1999-01-14   15
A   1992-09-19   18
B   1993-03-02   14
B   1999-10-21   131
A   1990-08-31   12
C   1994-01-25   10
E   1990-02-09   18
A   1990-09-26   5
A   1993-05-08   16
B   1995-09-06   141
E   1991-02-18   14
A   1993-01-11   141
A   1990-07-22   4
C   1994-09-09   151
C   1994-07-27   1
D   1990-10-10   151
A   1990-09-05   11
B   1991-10-01   151
A   1994-10-25   13

In [196]:
%%writefile mapper_09.py
import sys
#from datetime import datetime
#print(sys.stdin.readlines()[0].split('   ')[2].strip())
maxi = 3
if __name__ == "__main__":
    for line in sys.stdin:
        strnum = line.split('   ')[2].strip()
        strnum = strnum.zfill(maxi)
        sys.stdout.write("{}   {}   {}\n".format(strnum, line.split('   ')[0] , line.split('   ')[1]))

Overwriting mapper_09.py

In [198]:
!cat ../pregunta_09/data.csv|python mapper_09.py|sort

001   C   1994-07-27
002   C   1991-02-12
004   A   1990-07-22
005   A   1990-09-26
006   B   1997-04-09
007   E   1998-09-14
008   E   1993-01-27
009   A   1988-04-27
010   A   1990-10-06
010   C   1994-01-25
011   A   1990-09-05
011   E   1999-09-10
012   A   1990-08-31
012   B   1999-06-11
013   A   1994-10-25
013   A   1997-12-15
013   B   1998-11-22
014   A   1992-08-22
014   B   1993-03-02
014   B   1999-08-28
014   E   1991-02-18
015   E   1999-01-14
016   A   1993-05-08
016   E   1985-02-12
016   E   1990-05-03
017   B   1994-08-30
017   E   1993-07-21
018   A   1992-09-19
018   E   1990-02-09
101   B   1995-08-23
101   E   1994-02-14
121   E   1999-12-06
131   B   1999-10-21
141   A   1993-01-11
141   B   1995-09-06
151   B   1991-10-01
151   C   1994-09-09
151   D   1990-10-10
161   E   1995-04-25
181   E   1993-12-27

In [207]:
%%writefile reducer_09.py
import sys

if __name__ == "__main__":
    count = 0
    for line in sys.stdin:
        sys.stdout.write("{}   {}   {}\n".format(line.split('   ')[1], line.split('   ')[2].strip() , int(line.split('   ')[0])))
        if count >= 5: break;
        count = count +1

Overwriting reducer_09.py

In [188]:
!cat ../pregunta_09/test.py

#
import os

result = os.popen("cat data.csv | python3 mapper.py | sort | python3 reducer.py").read()

lines = [line.strip().replace("\n", "") for line in result.split("\n")]

expected = """C   1994-07-27   1
C   1991-02-12   2
A   1990-07-22   4
A   1990-09-26   5
B   1997-04-09   6
E   1998-09-14   7
""".split(
    "\n"
)

if len(lines) != len(expected):
    raise Exception("Wrong number of lines")

for solution, expected in zip(lines, expected):
    assert (
        solution.strip() == expected.strip()
    ), f"Expected: {expected}\nGot: {solution}"

In [209]:
!cat ../pregunta_09/data.csv|python mapper_09.py|sort|python reducer_09.py

C   1994-07-27   1
C   1991-02-12   2
A   1990-07-22   4
A   1990-09-26   5
B   1997-04-09   6
E   1998-09-14   7

# pregunta 10

In [212]:
!cat ../pregunta_10/README.txt

Pregunta
===========================================================================

Escriba un job de hadoop (en Python) que obtenga las letras asociadas
(columna 2) a cada clave (columna 1) del  archivo `data.csv`.

In [216]:
!cat ../pregunta_10/data.csv

0	C,F,A,B,D,I,H
1	A,H,C,I,F,D,B
2	B,H,I,F,G
3	C,B,D
4	D,C,I,G,H
5	B,D,C,H,A
6	H,D,C,B,G,F,D
7	F,A,G,C,B,D,H,I
8	F,A,I,B,D
9	F,A,B,D,C,D,G,I
10	D,B,A,C,H
11	G,D,B,H,I,C,F
12	D,D,C,F,B,A,H,G
13	F,A,D
14	D,A,C,G
15	H,A,F,D,B,C,G,I
16	A,I,B,D
17	C,B,G,A,D,H,F
18	I,B,A,H,D,F
19	B,D,F,D,I
20	C,B,H,F,I,G,D,D
21	F,A,B,C,G,D
22	I,G,F,C,H,B
23	H,F,C,B,D,D,A
24	F,D,G,A,H
25	G,H,B,C,A,F,I
26	G,F,B,A,H,D,D,I
27	B,A,H,I,D,G,F
28	A,H,D,F,C
29	C,D,A,F,G,B,H,D

In [219]:
a = [[29],["C","D","A","F","G","B","H","D"]]

list

In [261]:
%%writefile mapper_10.py
import sys
maxi = 2
if __name__ == "__main__":
    for line in sys.stdin:
        a, b = line.split('\t')
        b =list(b.strip().split(','))
        a = a.zfill(maxi)
        for x in b:
            sys.stdout.write("{}\t{}\n".format(x,a))

Overwriting mapper_10.py

In [262]:
!cat ../pregunta_10/data.csv|python mapper_10.py

C	00
F	00
A	00
B	00
D	00
I	00
H	00
A	01
H	01
C	01
I	01
F	01
D	01
B	01
B	02
H	02
I	02
F	02
G	02
C	03
B	03
D	03
D	04
C	04
I	04
G	04
H	04
B	05
D	05
C	05
H	05
A	05
H	06
D	06
C	06
B	06
G	06
F	06
D	06
F	07
A	07
G	07
C	07
B	07
D	07
H	07
I	07
F	08
A	08
I	08
B	08
D	08
F	09
A	09
B	09
D	09
C	09
D	09
G	09
I	09
D	10
B	10
A	10
C	10
H	10
G	11
D	11
B	11
H	11
I	11
C	11
F	11
D	12
D	12
C	12
F	12
B	12
A	12
H	12
G	12
F	13
A	13
D	13
D	14
A	14
C	14
G	14
H	15
A	15
F	15
D	15
B	15
C	15
G	15
I	15
A	16
I	16
B	16
D	16
C	17
B	17
G	17
A	17
D	17
H	17
F	17
I	18
B	18
A	18
H	18
D	18
F	18
B	19
D	19
F	19
D	19
I	19
C	20
B	20
H	20
F	20
I	20
G	20
D	20
D	20
F	21
A	21
B	21
C	21
G	21
D	21
I	22
G	22
F	22
C	22
H	22
B	22
H	23
F	23
C	23
B	23
D	23
D	23
A	23
F	24
D	24
G	24
A	24
H	24
G	25
H	25
B	25
C	25
A	25
F	25
I	25
G	26
F	26
B	26
A	26
H	26
D	26
D	26
I	26
B	27
A	27
H	27
I	27
D	27
G	27
F	27
A	28
H	28
D	28
F	28
C	28
C	29
D	29
A	29
F	29
G	29
B	29
H	29
D	29

In [264]:
%%writefile reducer_10.py

#! /usr/bin python3

import sys

if __name__ == '__main__':

    curkey = None
    total = 0

    for line in sys.stdin:
        
        key, val = line.split("\t")
        val = val.strip()

        if key == curkey:
            #
            # No se ha cambiado de clave. Aca se acumulan los valores para la misma
            # clave.
            #
            cadena = cadena+','+str(int(val))
        else:
            #
            # Se cambio de clave. Se reinicia el acumulador.
            #
            if curkey is not None:

                #
                sys.stdout.write("{}\t{}\n".format(curkey, cadena))

            curkey = key
            cadena = str(int(val))

    sys.stdout.write("{}\t{}\n".format(curkey, cadena))

Overwriting reducer_10.py

In [265]:
!cat ../pregunta_10/data.csv|python mapper_10.py|sort|python reducer_10.py

A	0,1,5,7,8,9,10,12,13,14,15,16,17,18,21,23,24,25,26,27,28,29
B	0,1,2,3,5,6,7,8,9,10,11,12,15,16,17,18,19,20,21,22,23,25,26,27,29
C	0,1,3,4,5,6,7,9,10,11,12,14,15,17,20,21,22,23,25,28,29
D	0,1,3,4,5,6,6,7,8,9,9,10,11,12,12,13,14,15,16,17,18,19,19,20,20,21,23,23,24,26,26,27,28,29,29
F	0,1,2,6,7,8,9,11,12,13,15,17,18,19,20,21,22,23,24,25,26,27,28,29
G	2,4,6,7,9,11,12,14,15,17,20,21,22,24,25,26,27,29
H	0,1,2,4,5,6,7,10,11,12,15,17,18,20,22,23,24,25,26,27,28,29
I	0,1,2,4,7,8,9,11,15,16,18,19,20,22,25,26,27

In [260]:
!cat ../pregunta_10/test.py

#
import os

result = os.popen("cat data.csv | python3 mapper.py | sort | python3 reducer.py").read()

lines = [line.strip().replace("\n", "") for line in result.split("\n")]

expected = """A	0,1,5,7,8,9,10,12,13,14,15,16,17,18,21,23,24,25,26,27,28,29
B	0,1,2,3,5,6,7,8,9,10,11,12,15,16,17,18,19,20,21,22,23,25,26,27,29
C	0,1,3,4,5,6,7,9,10,11,12,14,15,17,20,21,22,23,25,28,29
D	0,1,3,4,5,6,6,7,8,9,9,10,11,12,12,13,14,15,16,17,18,19,19,20,20,21,23,23,24,26,26,27,28,29,29
F	0,1,2,6,7,8,9,11,12,13,15,17,18,19,20,21,22,23,24,25,26,27,28,29
G	2,4,6,7,9,11,12,14,15,17,20,21,22,24,25,26,27,29
H	0,1,2,4,5,6,7,10,11,12,15,17,18,20,22,23,24,25,26,27,28,29
I	0,1,2,4,7,8,9,11,15,16,18,19,20,22,25,26,27
""".split(
    "\n"
)

if len(lines) != len(expected):
    raise Exception("Wrong number of lines")

for solution, expected in zip(lines, expected):
    assert (
        solution.strip() == expected.strip()
    ), f"Expected: {expected}\nGot: {solution}"